/* Question 0. Import a font and make all text in the body using that font. Check the homework instructions for more information!*/
/* Set all text in the body to be a certain color (whatever color you choose!)*/
/* Center all text in the body. Check out the homework spec for help.*/

body {
    margin: 50px auto;
    max-width: 1200px;
    /* YOUR CODE HERE */
}

/* Question 1: Add a border, border radius, box shadow, or whatever other styling you'd like to your image! */
img {
    width: 175px;
    border-radius: 30%;
    opacity: 1;
    /* Center the image horizontally */
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1 {
    text-align: center;
}

h1 {
    font-size: 45px;
    transition: ease-in-out 0.5s;
}

h1:hover{
    background-color: red;
}
/* Question 2. Select the h1 tag and add a hover effect! You can change the background-color, color, opacity, or anything you want.*/

/* YOUR CODE HERE */



/* Question 3. Add different background colors for all the different sections (Education, Experience, etc.) by selecting them via ids. */

/* YOUR CODE HERE */




/* Question 4. Add margin, padding, and borders to the section-wrapper class! */

.section-wrapper {
    background-color: lightblue;
    /*YOUR CODE HERE*/
}



/* Experience Section */

/* Question 5a. This is a little tougher! Use CSS Flexbox to display your experiences as shown in the diagram.
 Hint: Check the homework spec for some help!*/


/* Question 5b. Add a background color to the experience-list-item class.*/

.education-list-item {
    border: 4px solid #1d3557;
    background-color: green;
    text-align: left;
    padding: 10px 20px;
    border-radius: 15px;
    /*YOUR CODE HERE*/

    /* Side note: the transition attribute makes effects look smoother! 
    This means the hover effect will slowly kick in for 0.2s. */
    transition: ease-in-out 0.2s;
}

.experience-list-item {
    border: 4px solid #1d3557;
    background-color: teal;
    text-align: left;
    padding: 10px 20px;
    border-radius: 15px;
    /*YOUR CODE HERE*/

    /* Side note: the transition attribute makes effects look smoother! 
    This means the hover effect will slowly kick in for 0.2s. */
    transition: ease-in-out 0.2s;
}

.social-list-item {
    border: 4px solid #1d3557;
    background-color: blue;
    text-align: left;
    padding: 10px 20px;
    border-radius: 15px;
    /*YOUR CODE HERE*/

    /* Side note: the transition attribute makes effects look smoother! 
    This means the hover effect will slowly kick in for 0.2s. */
    transition: ease-in-out 0.2s;
}

.projects-list-item {
    border: 4px solid #1d3557;
    background-color: grey;
    text-align: left;
    padding: 10px 20px;
    border-radius: 15px;
    /*YOUR CODE HERE*/

    /* Side note: the transition attribute makes effects look smoother! 
    This means the hover effect will slowly kick in for 0.2s. */
    transition: ease-in-out 0.2s;
}


/* Question 5c. Let's take a break! Add a hover effect to each experience-list-item div. 
Experiment with border, border-radius, background-color, or whatever you want!*/

.experience-list-item:hover {
    /* YOUR CODE HERE */
}




/* Projects Section */

/* Question 6. Use CSS Flexbox and hover effects for the Projects Section, just as you did for the Experience Section! */

/*YOUR CODE HERE*/

a{
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 10 px;
    border-radius: 10px;
    box-shadow: 3px 3px 4px grey;
}





/* Contact Section */

/* Question 7. Make your link look like the one shown in the homework spec!*/

a {
    /*YOUR CODE HERE*/
}